// Colors
$gray-050: #FAFAFA !default;;
$gray-100: #f8f8f8 !default;
$gray-200: #EEEEEE !default;
$gray-300: #DFDFDF !default;
$gray-400: #ced4da !default;
$gray-500: #B5B5B5 !default;
$gray-550: #9E9E9E !default;
$gray-600: #7D7D7D !default;
$gray-700: #474747 !default;
$gray-800: #3e3e3e !default;
$gray-900: #303030 !default;

$blue: rgb(0, 89, 255);